body {
	background: #fb7e14;
}

#contact_headbar {
	background: #292929;
	color: beige;
	font-family: "arial";
	text-align: center;
	font-weight: bold;
	position: absolute;
	border: solid 10px;
	border-color: black;
	top: 1%;
	right: 42.5%;
	padding: 5px 10px;
	letter-spacing: 2px;
	border-radius: 15px;
}

#contact_body {
	display: block;
	background: #292929;
	color: beige;
	font-family: "arial";
	text-align: center;
	font-weight: bold;
	position: absolute;
	border: solid 10px;
	border-color: black;
	top: 15%;
	right: 28%;
	padding: 10px 10px;
	letter-spacing: 2px;
	border-radius: 15px;
}

#sent_body {
	display: block;
	background: #292929;
	color: beige;
	font-family: "arial";
	text-align: center;
	font-weight: bold;
	position: absolute;
	border: solid 10px;
	border-color: black;
	top: 30%;
	right: 30%;
	padding: 10px 10px;
	letter-spacing: 2px;
	border-radius: 15px;
}

.form {
	position: relative;
	display: block;
	font-size: 16px;
	text-align: center;
	right: -35%;
}

.area {
	position: relative;
	display: block;
	font-size: 16px;
	text-align: center;
	right: -20%;
	padding: 10px 10px;
}

#contact_footbar {
	position: relative;
	bottom: -5%;
	letter-spacing: 20px;
	font-weight: bold;
}

nav {
	position: fixed;
	top: 10%;
	font-family: "arial";
	justify-content: left;
	align-items: center;
	min-height: 8vh;
	max-width: 20vh;
	background-color: #151515;
	color: beige;
	border: solid 5px black;
	padding: 3px 3px;
	border-radius: 15px;
}

.nav_li {
	padding: 20px 10px;
	transition-duration: 500ms;
}
.nav_li:hover {
	background-color: #fb7e14;
}

.logo {
	font-size: 25px;
	text-align: center;
	font-weight: bolder;
}

.navpoint {
	color: beige;
	font-weight: bold;
	letter-spacing: 3px;
	transition-duration: 500ms;
}

.navpoint:hover {
	color: black;
}

.divide {
	height: 30px;
	width: auto;
	display: inline-block;
}
